.inputWithIcon input[type=text]{

    background-color:#fff;
    color:#000;   

  }
  
  .inputWithIcon input[type=text]{

      padding-left:40px;

  }
  .inputWithIcon{
      position:relative;
  }
  .inputWithIcon i{
      position:absolute;
      top: 8px;
      left:5px;
      paddding:9px 8px;
      color:#F7B926;
      transition:.3s;

  }
  .inputWithIcon input[type=text]:focus + i{
      color:dodgerBlue;
  }

    padding-left:40px;

}
  body {
      /*colocar imagen en un body */
      /* background-image: url(assets/img/slider2.jpg);

  */
      background: #fff;
  }

  #travelMode {
      position: relative;
      right: -1000px;
      top: -133px;
  }

  #map_container {
      position: absolute;
      top: 1px;
      right:  21px;
      background: #fff;
  }

  #mover {
      position: relative;
      top: -918px;
      right: -98px;
  }

  .info {
      position: absolute;
      top: 432px;
      left:5px;
      width:350px;
      height: 190px;
      overflow-y: scroll;
      background-color: #F7B926;
      color: #000;
      
      
  }

  * {
      margin: 0px;
      padding: 0px;
  }

  #sidebar {
    position: fixed ;
    width: 335px;
    height: 100%;   
    background:#F7B926;
    z-index:1;
}

    #sidebar.active {
        left: 0px;
    }

    #sidebar ul li {
        color: rgba(230, 230, 230, .9);
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100, 100, 100, .3);
        text-align: center;
    }




#sidebar .toggle-btn span {
        display: block;
        width: 50px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #000;
      }